/* font imports */
@font-face {
  font-family: "Archive";
  src: url("Archive.otf");
}
@font-face {
  font-family: "Ge Body";
  src: url("Ge Body.ttf");
}
/* responsive header */
@media screen and (max-width: 600px) {
  .header-item-cont a {display: none;}
  .header-item-cont-sticky a {margin-left: -70px;}
  .header a.icon {
    float: right;
    display: block;
  }
  .header.responsive {
    position: fixed;
    height: 600px;
    background-color: white;
  }
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .mid-2-cont {
    display: block;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 3000px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  font-family: "Ge Body";
}


/* loading spinners */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #e0cca3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e0cca3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #e0cca3;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #d1b47b;
}
::-webkit-scrollbar-thumb:active {
  background-color: #e5c47e;
}
.content {
  display: none;
  width: 100%;
  height: 5000px;
  position: absolute;
  margin: 0;
  padding: 0;
}
.top {
  width: 100vw;
  height: 300px;
}
.title {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 69px;
  font-family: "Archive";
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  text-align: center;
}

.header {
  width: 100vw;
  height: 50px;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: rgba(256, 256, 256, 0.3);
  z-index: 20;
  transition: 0.2s;
}
.sticky {
  box-shadow: 0px 1px 3px 3px #AAA;
  background-color: white;
}
.header-item-cont {
  width: 100vw;
  height: 50px;
  float: right;
  display: inline-block;
}
.header-item-cont-sticky {
  width: calc(100vw - 70px);
}
.header-item {
  width: 19%;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  color: white;
  font-family: "Ge Body";
  font-size: 20px;
  transition: 0.6s;
  letter-spacing: 10px;
  z-index: 10;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  color: #666;
  cursor: pointer;
}
.header-item:hover {
  color: #e0cca3;
  text-shadow: 0px 0px 0px rgba(256,256,256,0.5);
}
.header-item-sticky {
  width: 19%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: black;
  font-family: "Ge Body";
  font-size: 25px;
  transition: 0.2s;
  letter-spacing: 7px;
  text-shadow: 0;
}
.header-item-sticky:hover {
  color: #e0cca3;
}
.logo-cont {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  border-radius: 5px;
}
.logo-sticky {
  box-shadow: 0px 1px 1px 1px #AAA;
  background-color: white;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  transform: rotate(360deg);
}
.logo {
  width: 100%;
  height: 100%;
}
.icon {
  color: gray;
  position: absolute;
  right:0;
  top:0;
  width: 50px;
  height: 50px;
  display: none;
  font-size: 40px;
  transition: 0.2s;
}
.scroll {
  overflow-y: hidden;
}
.big {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}


.footer {
  width: 100vw;
  height: 300px;
  background-color: #e0cca3;
  margin: 0;
  padding: 0;
  top: calc(100% - 300px);
  position: relative;
  border-top: 5px solid #e8dbc2;
}
.copyright {
  text-align: center;
  bottom: 0;
  font-family: "Ge Body";
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .header-item {
    font-size: 14px;
  }
  .features {
    height: 1300px;
    width: 300px;
  }
  #mid-2 {
    height: 200vh;
  }
}
