.slide-cont {
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.img-cont {
  width: 300px;
  height: 300px;
  position: relative;
}
.loading {
  height: 5px;
  width: 0px;
  background-color: #e0cca3;
  transition: 5s;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0px;

}
.slide-img {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0;
  padding: 0;
}
.button-cont {
  width: 98px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
}
.button {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid #e0cca3;
  margin: 0 auto;
}
.big-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.active {
  border: 4px solid #e0cca3;
}
